<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Zend Framework Library Test Suite">
            <directory>./Modern</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
        </exclude>
    </groups>

    <filter>
        <blacklist>
            <directory suffix=".php">./</directory>
        </blacklist>
    </filter>
</phpunit>
